<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/biblioteca.css" />
    <link
      rel="stylesheet"
      href="/static/libs/fontawesome-free-7.0.1-web/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/adicionar.html">Novo Livro</a></li>
        <li>
          <a href="#"><i class="fa-solid fa-heart"></i> Favoritos</a>
        </li>
        <li><a href="#">Login/Cadastro</a></li>
      </ul>
    </header>
    <main>
      <div class="container">
        <img src="/static/assets/Library.png" alt="Library" />
        <h1>A melhor biblioteca da PBL</h1>
        <div class="pesquisar">
          <input type="search" placeholder="Qual o livro?" />
          <button type="submit">Pesquisar</button>
        </div>
        <div class="div-livros">
          {% for livro in livros %}
          <div class="div-item-livro">
            <img src="{{ livro.src_imagem }}" alt="" />
            <div class="div-livro-info">
              <p class="p-livro-info-ano">{{ livro.ano_publicacao }}</p>
              <p class="p-livro-info-titulo">{{ livro.titulo }}</p>
              <p class="p-livro-info-autor">{{ livro.autor }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
